<div>
  <h1>Todo List</h1>
  <div>
    <input type="text" #item />
    <button (click)="addNewItem(item)">Add</button>

    <ul>
      <li *ngFor="let item of todoList | async">
        # {{ item.id }} {{ item.content }} [{{ item.created | date: 'medium' }}]
        <button (click)="removeItem(item)">Remove</button>
      </li>
    </ul>
  </div>
  <div>
    <h1>Dashboard</h1>
    <p>Last Update: {{ lastUpdate | date: 'medium' }}</p>
    <p>Total items: {{ count | async }}</p>
    <button (click)="deleteAll()">Delete All</button>
  </div>
</div>
